<div class='location_of_restaurant' %>
	<%= f.label :Address %>
	<%= f.text_field :adress, type: 'adress', placeholder: 'e.g Chilli Pan Mee, Uptown Damansara', class: 'address_holder'%>
</div>

<div class='description' %>
	<%= f.label :Description %>
	<%= f.text_field :description, type: 'description' %>
</div>

<%= f.submit %>

